.button {
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    background-color: #75a7c0;
    color: white;   
    letter-spacing: 0.8px;
    font-size: 20px;
    flex: none;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
  }
.button:hover {
    background-color: #9fd9dd;
  }
#appointmentButton {
    background-color: white;
}
#appointmentButton:hover {
  background-color: #75a7c0;
}