.problemsSection {
    display: flex;
    justify-content: space-between;
}
.problemsSectionInfo {
    padding: 2rem;
    margin-left: 6rem;
}
.problemsSectionInfo h2 {
    color: #75a7c0;
}
.problemsSectionInfo li {
    font-size: 20px;
}
.paragrath {
    font-size: 20px;
}
.contacts {
    font-size: 20px;
    font-weight: bold;
}
.problemsSectionImage {
    width: 50%;
}