@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Titillium+Web&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0, 80%);  
}
h2 {
  font-size: 40px;
}
main {  
  margin: 0 auto;    
}
.service {
  display: flex;
  margin: 2rem auto 2rem auto;
  width: 80%;  
}
.service-list {  
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;  
}
.content,
p {
  padding: 1rem 0;
}
.p-scrolltop {
  background-color: #9fd9dd;
  width: 70px;
  height: 70px;
  padding: 20px;
}
.p-icon {
  width: 30px;
}




