.service-online-appointment {
    background-color: #75a7c0;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: rgb(0, 0, 0, 80%)
  }
.service-online-appointment h2 {
  font-size: 30px;
}
.service-online-appointment p {
    font-size: 20px;
} 
#appointmentButton {
    background-color:white;
     
}
#appointmentButton:hover {
  background-color: #75a7c0;
}